/* for large devices css */

nav {
    padding: 40px;
}

.gap {
    gap: 60px;
}

.fillBtn {
    background-color: #00A0AA;
    padding: 10px;
    width: 150px;
    border-radius: 5px ;
   
}

/* for mobile phone css btn */
.btn-appointment {
    background-color: wheat;
    color: black;
    padding: 14px;
    width: 150px;
    
}
